Package: com.client.acbface
Name: ACB Face
Version: 1.0.0
Architecture: iphoneos-arm64e
Description: ACB eKYC Face Capture & Transfer Client for iOS (RootHide arm64e)
Maintainer: Developer
Author: Developer
Section: Utilities
Depends: firmware (>= 14.0)

